:root {
    --hover: #fd7d1438; 
    --sel: #fd7d147b;
    /* --link-color: #0000EE; */
    /* --link-color: rgb(239, 127, 16);  */
    --link-color: rgb(209, 104, 0); 
}


/*   
  :link {
    color: #0000EE; 
  }
  :visited {
    color: #551A8B; 
  }

  :link:active, :visited:active { color: #FF0000; } */

  :link {
    color: var(--link-color); 
  }
  :visited {
    color: var(--link-color); 
  }

  :link:active, :visited:active { color: var(--link-color); }
   
   /* table {
     border-collapse: separate; 
   } */
   
/* .ag-theme-alpine {
     --ag-selected-row-background-color: var(--hover-bg);
     --ag-row-hover-color: var(--hover-bg); 
   } */


.ag-row-hover {
    --ag-row-hover-color: var(--hover)
}

.ag-row-selected {
    --ag-selected-row-background-color: var(--sel);
}


h2 {
  margin-top: 0.75rem!important;
  letter-spacing: -.025rem!important;
}

.btn {
  display: inline!important; 
}

.navbar {
  font-size: 2rem;
  /* margin-top: 1rem; */
  margin-top: 0.6rem;
}

.navbar_small {
  /* font-size: 1.25rem; */
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

/* .navbarhoriz {
  margin-right: 0.5rem; 
  padding-right: 0.5rem; 
} */
.navbarhoriz a {
  margin-right: 0.5rem; 
  padding-right: 0.5rem; 
  border-right: 1px solid black; 
}

.navbarhoriz a:last-child {
  border-right: none;
}

.navnextprev {
  align-items: center;
  /* align-items: anchor-center; */
}

.navnextprev h5 {
  margin-top: 0!important;
  margin-bottom: 0!important;
  padding-top: 0.6rem!important;
  padding-bottom: 0.6rem!important;
}

.navnextprev a {
  /* margin-x: 0.5rem;  */
  display: inline!important; 
  padding-left: 0.5rem!important;
  padding-right: 0.5rem!important;
  /* vertical-align: middle; */
  /* vertical-align: baseline!important; */
}


/* .navnextprev a:visited {
  color: #0000EE; 
}

.navnextprev a :link:active, .navnextprev a :visited:active { color: #0000EE; } */


.navnextprev a:hover {
  text-decoration: none;
}



.navnextprev .btn {
    --bs-btn-color: var(--link-color);
    --bs-btn-border-color: var(--link-color);
    /* --bs-btn-hover-color: #fff; */
    --bs-btn-hover-bg: var(--link-color);
    --bs-btn-hover-border-color: var(--link-color);
    /* --bs-btn-focus-shadow-rgb: 13,110,253; */
    /* --bs-btn-active-color: #fff; */
    --bs-btn-active-bg: var(--link-color);
    --bs-btn-active-border-color: var(--link-color);
    /* --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); */
    --bs-btn-disabled-color: var(--link-color);
    /* --bs-btn-disabled-bg: transparent; */
    --bs-btn-disabled-border-color: var(--link-color);
    /* --bs-gradient: none; */
}


.dbc-ag-grid.ag-theme-alpine {
  --ag-alpine-active-color: var(--bs-primary);
  --ag-selected-row-background-color: rgba(var(--bs-primary-rgb), 0.3);
  --ag-row-hover-color: rgba(var(--bs-primary-rgb), 0.1);
  --ag-column-hover-color: rgba(var(--bs-primary-rgb), 0.1);
  --ag-input-focus-border-color: rgba(var(--bs-primary-rgb), 0.4);
  --ag-range-selection-background-color: rgba(var(--bs-primary-rgb), 0.2);
  --ag-range-selection-background-color-2: rgba(var(--bs-primary-rgb), 0.36);
  --ag-range-selection-background-color-3: rgba(var(--bs-primary-rgb), 0.49);
  --ag-range-selection-background-color-4: rgba(var(--bs-primary-rgb), 0.59);
  --ag-background-color: var(--bs-body-bg);
  --ag-foreground-color: var(--bs-body-color);
  --ag-border-color:  rgba(173,181,189, 0.40);
  --ag-cell-horizontal-border:  rgba(173,181,189, 0.20);
  --ag-secondary-border-color:  rgba(173,181,189, 0.20);
  --ag-header-background-color:  rgba(173,181,189, 0.20);
  --ag-odd-row-background-color:  rgba(173,181,189, 0.05);
  --ag-control-panel-background-color: var(--bs-body-bg);
  --ag-subheader-background-color:  var(--bs-body-bg);
  --ag-invalid-color: var(--bs-form-invalid-color);
  --ag-font-family: var(--bs-font-family);
}